/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 5, ../../../../../../Ruby23/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../Ruby23/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../Ruby23/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../Ruby23/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../Ruby23/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../Ruby23/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../Ruby23/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../Ruby23/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../Ruby23/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

@font-face {
  font-family: "funny-font";
  src: url(../fonts/LondrinaSolid-Regular.otf);
}
@font-face {
  font-family: "BebasNeue";
  src: url(../fonts/BebasNeue.otf);
}
/* line 27, ../sass/screen.scss */
html {
  font-size: 62.5%;
}

/* line 31, ../sass/screen.scss */
body {
  width: 100%;
  text-align: center;
  font-size: 14px;
  background: url("../../img/main-bg.png") no-repeat;
  background-size: 100% 100%;
  font-family: "Arial";
}

/* line 40, ../sass/screen.scss */
.container {
  display: grid;
  color: white;
  max-width: 100%;
  padding: 0;
  overflow: hidden;
  position: relative;
}
/* line 47, ../sass/screen.scss */
.container a {
  color: white;
  text-decoration: none;
}
/* line 51, ../sass/screen.scss */
.container h1 {
  text-transform: uppercase;
  font-family: "BebasNeue";
  font-size: 9.8rem;
}
/* line 55, ../sass/screen.scss */
.container h1 span {
  font-size: 7.2rem;
}
@media (min-width: 426px) {
  /* line 51, ../sass/screen.scss */
  .container h1 {
    font-size: 12.8rem;
  }
}
/* line 60, ../sass/screen.scss */
.container h2 {
  font-family: "BebasNeue";
  margin: 0;
  padding: 0;
  font-size: 12.8rem;
  text-transform: uppercase;
}
/* line 67, ../sass/screen.scss */
.container h3 {
  margin-bottom: 0;
  font-family: "funny-font";
  color: #5a9692;
  font-size: 2.2rem;
  text-transform: uppercase;
}
/* line 74, ../sass/screen.scss */
.container h4 {
  font-family: "funny-font";
  text-transform: uppercase;
}
/* line 78, ../sass/screen.scss */
.container h4, .container h5 {
  padding: 0;
  margin: 0;
}
/* line 82, ../sass/screen.scss */
.container li {
  padding: 0;
  display: inline-block;
}
/* line 86, ../sass/screen.scss */
.container p {
  font-size: 1.4rem;
  color: #224e59;
}
/* line 90, ../sass/screen.scss */
.container ul {
  margin: 0;
}
/* line 91, ../sass/screen.scss */
.container p, .container div {
  padding: 0;
}
/* line 93, ../sass/screen.scss */
.container .row {
  margin: 0;
}
/* line 95, ../sass/screen.scss */
.container ::-webkit-input-placeholder {
  color: #bfbdba;
  font-size: 11px;
  font-style: italic;
}

/* line 102, ../sass/screen.scss */
.wrapper {
  display: grid;
  grid-template-columns: 9.5% auto 9.5%;
}

/* line 107, ../sass/screen.scss */
.btn {
  padding: 16px;
  background-color: #e74c48;
  background: linear-gradient(to bottom, #eb6f6d, #e74f4b);
  font-family: "funny-font";
  font-size: 2.1rem;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: white;
  cursor: pointer;
  transition: all .5s;
  border: 1px solid #9e8788;
  box-shadow: 0 1px 2px 2px rgba(128, 128, 128, 0.5);
  border-radius: 5px;
}
/* line 121, ../sass/screen.scss */
.btn:active {
  background: linear-gradient(to bottom, #e74f4b, #eb6f6d);
}

/* line 127, ../sass/screen.scss */
.section-header span {
  font-size: 4.2rem;
}
/* line 130, ../sass/screen.scss */
.section-header p {
  color: white;
  margin-bottom: 28px;
}

/* line 136, ../sass/screen.scss */
.container .top {
  position: absolute;
  bottom: 190px;
  right: 15px;
  margin-right: 5px;
  width: 80px;
  height: 80px;
  border-radius: 5px;
  background-color: #d9e2ad;
  cursor: pointer;
}
/* line 146, ../sass/screen.scss */
.container .top:after {
  content: "";
  position: absolute;
  bottom: 58px;
  left: 24px;
  border-bottom: 15px solid white;
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
}
/* line 155, ../sass/screen.scss */
.container .top h3 {
  font-size: 4.9rem;
  color: white;
  position: absolute;
  bottom: 8px;
  left: 16px;
}

/*=================== navigation =======================*/
/* line 166, ../sass/screen.scss */
body.stick .navigation {
  height: 65px;
  width: 100%;
  transition: all 0.4s ease-in-out;
  background: rgba(255, 255, 255, 0.8);
  position: fixed;
  z-index: 100;
  box-sizing: border-box;
}
/* line 174, ../sass/screen.scss */
body.stick .navigation .nav-brand {
  font-size: 2.8rem;
  color: #6e6e6e;
  padding-left: 40px;
}
/* line 179, ../sass/screen.scss */
body.stick .navigation .nav-link {
  color: #6e6e6e;
}
/* line 181, ../sass/screen.scss */
body.stick .navigation .nav-hamburger {
  margin-right: 40px;
}
/* line 182, ../sass/screen.scss */
body.stick .navigation .nav-hamburger,
body.stick .navigation .nav-hamburger:before,
body.stick .navigation .nav-hamburger:after {
  border-color: #6e6e6e;
}
/* line 187, ../sass/screen.scss */
body.stick .navigation .nav-items-list {
  padding-right: 40px;
}

/* line 190, ../sass/screen.scss */
body.act .navigation .nav-items-list {
  grid-column: 1;
  display: block;
  background-color: white;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 1000;
}
/* line 200, ../sass/screen.scss */
body.act .navigation .nav-items-list ul {
  text-align: center;
  padding-top: 100px;
}
/* line 204, ../sass/screen.scss */
body.act .navigation .nav-items-list .nav-item {
  display: block;
  padding: 25px 0;
}
/* line 207, ../sass/screen.scss */
body.act .navigation .nav-items-list .nav-item a {
  color: #19b698;
  font-size: 2.5rem;
  text-shadow: none;
}
/* line 212, ../sass/screen.scss */
body.act .navigation .nav-items-list .nav-item:hover:before {
  background-image: none;
}
/* line 216, ../sass/screen.scss */
body.act .navigation .nav-items-list .nav-item.activeLink:before {
  background-image: none;
}

/* line 222, ../sass/screen.scss */
.navigation {
  grid-column: 2;
  display: grid;
  grid-auto-rows: 20px 1fr;
}
/* line 226, ../sass/screen.scss */
.navigation .nav {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-row: 2;
}
/* line 231, ../sass/screen.scss */
.navigation .nav-brand {
  grid-column: 1/1;
  text-align: left;
  font-family: "funny-font";
  color: white;
  font-size: 4.8rem;
}
/* line 238, ../sass/screen.scss */
.navigation .nav-hamburger {
  grid-column: 2/2;
  justify-self: end;
  display: block;
  position: relative;
  top: 0;
  left: 0;
  width: 40px;
  height: 35px;
  background-color: trasparent;
  box-sizing: border-box;
  border: 0;
  border-top: 5px solid white;
  transition: transform 0.3 linear;
}
@media (min-width: 725px) {
  /* line 238, ../sass/screen.scss */
  .navigation .nav-hamburger {
    display: none;
  }
}
/* line 256, ../sass/screen.scss */
.navigation .nav-hamburger:after, .navigation .nav-hamburger:before {
  content: '';
  width: 100%;
  height: 10px;
  top: 0;
  left: 0;
  position: absolute;
  border-top: 5px solid white;
  transform: translateY(10px);
}
/* line 266, ../sass/screen.scss */
.navigation .nav-hamburger:after {
  transform: translateY(25px);
  transition: 0.3s transform linear;
}
/* line 271, ../sass/screen.scss */
.navigation .nav-items-list {
  grid-column: 2/2;
  display: none;
  text-align: right;
}
@media (min-width: 726px) {
  /* line 271, ../sass/screen.scss */
  .navigation .nav-items-list {
    display: grid;
  }
}
/* line 279, ../sass/screen.scss */
.navigation ul {
  align-self: center;
}
/* line 280, ../sass/screen.scss */
.navigation .nav-item {
  position: relative;
  padding-right: 10px;
}
/* line 283, ../sass/screen.scss */
.navigation .nav-item:hover:before {
  content: "";
  position: absolute;
  background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.22), rgba(0, 0, 0, 0.22) 5%, transparent, transparent 10%, rgba(0, 0, 0, 0.19), rgba(0, 0, 0, 0.19) 15%, transparent, transparent 20%, rgba(0, 0, 0, 0.16), rgba(0, 0, 0, 0.16) 25%, transparent, transparent 30%, rgba(0, 0, 0, 0.13), rgba(0, 0, 0, 0.13) 35%, transparent, transparent 40%, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1) 45%, transparent 50%, transparent, rgba(0, 0, 0, 0.07), rgba(0, 0, 0, 0.07) 55%, transparent 60%, transparent, rgba(0, 0, 0, 0.01), rgba(0, 0, 0, 0.01) 65%, transparent 90%, transparent);
  width: calc(100% - 20px);
  height: 25px;
  top: -27px;
  left: 5px;
}
/* line 322, ../sass/screen.scss */
.navigation .nav-link.active,
.navigation .nav-link:hover {
  color: white;
}
/* line 325, ../sass/screen.scss */
.navigation .nav-item.activeLink:before {
  content: "";
  position: absolute;
  background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.22), rgba(0, 0, 0, 0.22) 5%, transparent, transparent 10%, rgba(0, 0, 0, 0.19), rgba(0, 0, 0, 0.19) 15%, transparent, transparent 20%, rgba(0, 0, 0, 0.16), rgba(0, 0, 0, 0.16) 25%, transparent, transparent 30%, rgba(0, 0, 0, 0.13), rgba(0, 0, 0, 0.13) 35%, transparent, transparent 40%, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1) 45%, transparent 50%, transparent, rgba(0, 0, 0, 0.07), rgba(0, 0, 0, 0.07) 55%, transparent 60%, transparent, rgba(0, 0, 0, 0.01), rgba(0, 0, 0, 0.01) 65%, transparent 90%, transparent);
  width: calc(100% - 20px);
  height: 25px;
  top: -27px;
  left: 5px;
}
/* line 364, ../sass/screen.scss */
.navigation .nav-link {
  color: white;
  font-size: 1.6rem;
  text-shadow: 0 2px 2px gray;
}

/*=================== header =======================*/
/* line 373, ../sass/screen.scss */
.container .header {
  grid-column: 2;
  display: grid;
  margin: 75px 0 55px;
  text-align: center;
}
@media (min-width: 769px) {
  /* line 373, ../sass/screen.scss */
  .container .header {
    margin: 0;
    grid-template-columns: 40% auto;
    grid-template-rows: 75px auto auto auto 54px;
    grid-column: 2;
    text-align: left;
  }
  /* line 384, ../sass/screen.scss */
  .container .header h1 {
    grid-column: 2;
    grid-row: 2;
  }
  /* line 385, ../sass/screen.scss */
  .container .header p {
    grid-column: 2;
    grid-row: 3;
  }
  /* line 386, ../sass/screen.scss */
  .container .header .btn-container {
    grid-column: 2;
    grid-row: 4;
  }
}
/* line 391, ../sass/screen.scss */
.container .header .btn-container {
  text-align: center;
}
/* line 394, ../sass/screen.scss */
.container .header span {
  display: block;
}
/* line 395, ../sass/screen.scss */
.container .header .btn {
  position: relative;
}
/* line 396, ../sass/screen.scss */
.container .header .btn-container {
  text-align: center;
  margin: 40px auto 0;
}
/* line 403, ../sass/screen.scss */
.container .header .arrow {
  display: none;
}
@media (min-width: 426px) {
  /* line 403, ../sass/screen.scss */
  .container .header .arrow {
    display: inline-block;
    position: relative;
    bottom: -18px;
    right: -30px;
  }
}

/*==================== services ========================*/
/* line 416, ../sass/screen.scss */
.container .services {
  position: relative;
  margin: auto;
}
/* line 419, ../sass/screen.scss */
.container .services:before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: url("../../img/bg-services-1200x407.png") no-repeat;
  background-size: 100% 100%;
}
/* line 426, ../sass/screen.scss */
.container .services ul {
  grid-column: 2;
  display: grid;
  grid-template-columns: 100%;
  padding: 45px 0;
  z-index: 10;
}
@media (min-width: 538px) {
  /* line 426, ../sass/screen.scss */
  .container .services ul {
    grid-template-columns: 50% 50%;
  }
}
@media (min-width: 769px) {
  /* line 426, ../sass/screen.scss */
  .container .services ul {
    grid-template-columns: 33% 34% 33%;
  }
}
/* line 439, ../sass/screen.scss */
.container .services li {
  padding: 0 35px 42px 0;
  text-align: left;
}
/* line 443, ../sass/screen.scss */
.container .services .services-header-item {
  margin: 0 0 10px;
  position: relative;
}
/* line 447, ../sass/screen.scss */
.container .services h3 {
  margin-left: 40px;
  display: inline-block;
}
/* line 451, ../sass/screen.scss */
.container .services p {
  text-align: left;
}
/* line 452, ../sass/screen.scss */
.container .services .icon {
  display: inline-block;
  margin-right: 8px;
  position: absolute;
  bottom: 0;
}
/* line 458, ../sass/screen.scss */
.container .services .icon1 {
  background: url("../../img/s1-28x28.svg") no-repeat;
  width: 28px;
  height: 28px;
}
/* line 462, ../sass/screen.scss */
.container .services .icon2 {
  background: url("../../img/s2-34x36.svg") no-repeat;
  width: 34px;
  height: 36px;
}
/* line 466, ../sass/screen.scss */
.container .services .icon3 {
  background: url("../../img/s3-24x20.svg") no-repeat;
  width: 24px;
  height: 20px;
}
/* line 470, ../sass/screen.scss */
.container .services .icon4 {
  background: url("../../img/s4-16x24.svg") no-repeat;
  width: 16px;
  height: 24px;
}
/* line 474, ../sass/screen.scss */
.container .services .icon5 {
  background: url("../../img/s5-29x24.svg") no-repeat;
  width: 29px;
  height: 24px;
}
/* line 478, ../sass/screen.scss */
.container .services .icon6 {
  background: url("../../img/s6-28x19.svg") no-repeat;
  width: 29px;
  height: 19px;
  position: absolute;
  left: -15px;
  bottom: -34px;
}
/* line 485, ../sass/screen.scss */
.container .services .icon7 {
  background: url("../../img/curve-tooltip-30x15.svg") no-repeat;
  width: 29px;
  height: 19px;
  position: absolute;
  left: 24px;
  bottom: -19px;
}
/* line 492, ../sass/screen.scss */
.container .services .services-tooltip {
  padding: 15px;
  position: relative;
  border-radius: 10px;
  background-color: #e3ecb8;
}
/* line 497, ../sass/screen.scss */
.container .services .services-tooltip p {
  color: #518582;
  font-weight: bold;
  margin-bottom: 0;
}

/*==================== app ========================*/
/* line 506, ../sass/screen.scss */
.container .app {
  margin: 45px 9.5% 65px;
  position: relative;
}
/* line 509, ../sass/screen.scss */
.container .app .section-header {
  grid-column: 2;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 50% 50%;
  padding: 45px 0;
}
@media (min-width: 1122px) {
  /* line 509, ../sass/screen.scss */
  .container .app .section-header {
    grid-template-columns: 50% 50%;
  }
}
/* line 518, ../sass/screen.scss */
.container .app .section-header .app-info {
  align-self: end;
  text-align: center;
}
@media (min-width: 1122px) {
  /* line 518, ../sass/screen.scss */
  .container .app .section-header .app-info {
    text-align: left;
  }
}
/* line 525, ../sass/screen.scss */
.container .app .section-header h2 {
  text-align: center;
}
@media (min-width: 1122px) {
  /* line 525, ../sass/screen.scss */
  .container .app .section-header h2 {
    text-align: left;
  }
}
/* line 531, ../sass/screen.scss */
.container .app .section-header span {
  grid-column: 1;
  text-align: center;
  display: block;
}
@media (min-width: 1122px) {
  /* line 531, ../sass/screen.scss */
  .container .app .section-header span {
    text-align: left;
  }
}
/* line 540, ../sass/screen.scss */
.container .app p {
  color: white;
  line-height: 19px;
}
/* line 544, ../sass/screen.scss */
.container .app .slider {
  width: 100%;
  height: 975px;
  overflow: hidden;
}
@media (min-width: 1122px) {
  /* line 544, ../sass/screen.scss */
  .container .app .slider {
    height: 390px;
  }
}
/* line 555, ../sass/screen.scss */
.container .app .slider:before {
  content: "";
  position: absolute;
  bottom: 68px;
  left: 0;
  height: 2px;
  width: 100%;
  background-color: rgba(128, 128, 128, 0.4);
}
/* line 564, ../sass/screen.scss */
.container .app .slider__slides {
  position: relative;
  width: 301%;
  height: 100%;
  left: 50%;
  margin-left: -48%;
}
@media (min-width: 490px) {
  /* line 564, ../sass/screen.scss */
  .container .app .slider__slides {
    margin-left: -35%;
  }
}
@media (min-width: 490px) {
  /* line 564, ../sass/screen.scss */
  .container .app .slider__slides {
    margin-left: -29%;
  }
}
@media (min-width: 600px) {
  /* line 564, ../sass/screen.scss */
  .container .app .slider__slides {
    margin-left: -20%;
  }
}
@media (min-width: 1122px) {
  /* line 564, ../sass/screen.scss */
  .container .app .slider__slides {
    left: 0;
    margin-left: 0;
  }
}
/* line 584, ../sass/screen.scss */
.container .app .slider__slide {
  display: none;
  width: 33.33333%;
  height: 100%;
}
/* line 589, ../sass/screen.scss */
.container .app .slider__dots {
  display: flex;
  position: absolute;
  bottom: 1.5em;
  left: 50%;
  transform: translateX(-50%);
}
/* line 596, ../sass/screen.scss */
.container .app .slider__dot {
  display: block;
  margin: 0 0.5em;
  width: 1.4em;
  height: 1.4em;
  background: #f0f0e7;
  border-radius: 100px;
}
/* line 605, ../sass/screen.scss */
.container .app .slider__dot.current_dot {
  background: #e55b58;
}
/* line 609, ../sass/screen.scss */
.container .app .slider__slide.current {
  display: block;
}
/* line 614, ../sass/screen.scss */
.container .app .app-items {
  display: grid;
  grid-template-columns: 33% 34% 33%;
}
/* line 617, ../sass/screen.scss */
.container .app .app-items:nth-child(3) {
  align-item: end;
}
/* line 619, ../sass/screen.scss */
.container .app .slider__slide ul {
  display: block;
}
@media (min-width: 1122px) {
  /* line 619, ../sass/screen.scss */
  .container .app .slider__slide ul {
    display: inline-flex;
  }
}
/* line 625, ../sass/screen.scss */
.container .app .app-item {
  grid-template-columns: 58% 42%;
  display: grid;
  grid-auto-rows: minmax(193px, auto) minmax(auto, auto);
  margin: 0 35px 25px 0;
  box-sizing: border-box;
  width: 290px;
  height: 265px;
  padding: 20px 15px;
  border-radius: 5px;
  background-color: #f5f1e6;
}
/* line 636, ../sass/screen.scss */
.container .app .app-item .app-info {
  text-align: left;
}
/* line 637, ../sass/screen.scss */
.container .app .app-item h3 {
  margin-bottom: 15px;
  color: #9aac49;
}
/* line 641, ../sass/screen.scss */
.container .app .app-item p {
  font-size: 1.2rem;
  color: #7e7e7e;
  line-height: 19px;
}
/* line 648, ../sass/screen.scss */
.container .app .rect {
  margin: auto auto 15px;
  width: 100px;
  height: 100px;
  border-radius: 15px;
  background: linear-gradient(to bottom, #ffd971, #ffbb4b);
  border: 1px solid #f2b857;
}
/* line 656, ../sass/screen.scss */
.container .app .btn-app {
  margin-bottom: 15px;
  width: 90px;
  height: 40px;
  padding: 0;
  font-size: 1.7rem;
  box-shadow: none;
  text-align: center;
}
/* line 665, ../sass/screen.scss */
.container .app .ad {
  width: 115px;
  height: 40px;
  padding: 5px;
  border: 1px solid rgba(128, 128, 128, 0.5);
  border-radius: 5px;
  box-sizing: border-box;
}
/* line 673, ../sass/screen.scss */
.container .app .ad-one {
  grid-column: 1/3;
  margin: auto;
}
/* line 678, ../sass/screen.scss */
.container .app .app-store {
  background: url("../../img/app-98x28.png") no-repeat;
  width: 98px;
  height: 28px;
}
/* line 682, ../sass/screen.scss */
.container .app .google-play {
  background: url("../../img/google-98x28.png") no-repeat;
  width: 98px;
  height: 28px;
}

/*==================== team ========================*/
/* line 690, ../sass/screen.scss */
.container .team {
  padding: 45px 0;
  position: relative;
}
/* line 693, ../sass/screen.scss */
.container .team:before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: url("../../img/bg-team-1200x713.png") no-repeat;
  background-size: 100% 100%;
}
/* line 700, ../sass/screen.scss */
.container .team .section-header {
  grid-column: 2;
  z-index: 10;
  color: #5a9692;
  padding-bottom: 43px;
}
/* line 705, ../sass/screen.scss */
.container .team .section-header h2 {
  text-align: center;
  font-size: 10.8rem;
}
@media (min-width: 1187px) {
  /* line 705, ../sass/screen.scss */
  .container .team .section-header h2 {
    text-align: left;
  }
}
/* line 712, ../sass/screen.scss */
.container .team .section-header span {
  display: block;
  font-size: 3rem;
}
/* line 716, ../sass/screen.scss */
.container .team ul {
  grid-column: 2;
  z-index: 10;
  position: relative;
  max-width: 1420px;
}
/* line 722, ../sass/screen.scss */
.container .team .team-item {
  padding: 0 25px 43px 0;
}
/* line 725, ../sass/screen.scss */
.container .team .outer-wheel {
  display: inline-block;
  width: 167px;
  height: 167px;
  padding: 7px;
  border-radius: 50%;
  background-color: #7fbcbe;
  border: 1px solid rgba(94, 141, 145, 0.6);
}
/* line 734, ../sass/screen.scss */
.container .team .inner-wheel {
  width: 164px;
  height: 164px;
  border-radius: 50%;
  background-color: white;
  border: 1px solid rgba(94, 141, 145, 0.6);
}
/* line 741, ../sass/screen.scss */
.container .team .team-data {
  display: inline-block;
  width: 245px;
  margin: 20px 0 0 15px;
}
@media (min-width: 600px) {
  /* line 741, ../sass/screen.scss */
  .container .team .team-data {
    text-align: left;
    margin: 0 0 0 15px;
  }
}
/* line 751, ../sass/screen.scss */
.container .team h3 {
  margin-bottom: 6px;
  font-size: 2.4rem;
}
/* line 755, ../sass/screen.scss */
.container .team h4 {
  margin-bottom: 10px;
  font-size: 1.8rem;
  color: #9aac49;
}
/* line 760, ../sass/screen.scss */
.container .team p {
  margin-bottom: 10px;
  font-size: 1.2rem;
  color: #7e7e7e;
  line-height: 15px;
}
/* line 766, ../sass/screen.scss */
.container .team .icon {
  display: inline-block;
  margin-right: 5px;
  width: 22px;
  height: 21px;
}
/* line 771, ../sass/screen.scss */
.container .team .linkedin {
  background: url("../../img/icon-linkedin-21x20.svg") no-repeat;
}
/* line 774, ../sass/screen.scss */
.container .team .fb {
  background: url("../../img/icon-fb-21x20.svg") no-repeat;
}
/* line 777, ../sass/screen.scss */
.container .team .tw {
  background: url("../../img/icon-twitter-20x20.svg") no-repeat;
}
/* line 780, ../sass/screen.scss */
.container .team .bs {
  background: url("../../img/icon-sllice-20x20.svg") no-repeat;
}
/* line 783, ../sass/screen.scss */
.container .team .tr {
  background: url("../../img/icon-21x20.svg") no-repeat;
}

/*==================== contact ========================*/
/* line 790, ../sass/screen.scss */
.container .contact {
  padding: 45px 0;
}
/* line 792, ../sass/screen.scss */
.container .contact .section-header {
  grid-column: 2;
  grid-row: 1;
  display: grid;
  grid-template-columns: 1fr;
  margin-bottom: 45px;
}
@media (min-width: 769px) {
  /* line 792, ../sass/screen.scss */
  .container .contact .section-header {
    grid-template-columns: 1fr 1fr;
  }
}
/* line 802, ../sass/screen.scss */
.container .contact .section-header-info {
  align-self: end;
  justify-self: center;
}
/* line 806, ../sass/screen.scss */
.container .contact h2 {
  text-align: center;
  font-size: 8.8rem;
}
/* line 809, ../sass/screen.scss */
.container .contact h2 span {
  display: block;
}
@media (min-width: 769px) {
  /* line 806, ../sass/screen.scss */
  .container .contact h2 {
    text-align: left;
  }
}
/* line 814, ../sass/screen.scss */
.container .contact p {
  text-align: left;
  color: white;
  max-width: 415px;
  line-height: 20px;
}
/* line 820, ../sass/screen.scss */
.container .contact .section-form {
  grid-column: 2;
  grid-row: 2;
  display: grid;
  grid-template-columns: 1fr;
}
@media (min-width: 850px) {
  /* line 820, ../sass/screen.scss */
  .container .contact .section-form {
    grid-template-columns: 1fr 1fr;
  }
}
/* line 829, ../sass/screen.scss */
.container .contact .form {
  margin-bottom: 50px;
  margin-right: 35px;
}
@media (min-width: 769px) {
  /* line 829, ../sass/screen.scss */
  .container .contact .form {
    margin-bottom: 0;
  }
}
/* line 835, ../sass/screen.scss */
.container .contact .form input, .container .contact .form textarea {
  margin-bottom: 15px;
  width: 100%;
  padding: 20px 18px;
  border-radius: 5px;
  box-shadow: inset -1px 1px 5px 1px #ccc7c2;
}
/* line 842, ../sass/screen.scss */
.container .contact .form p {
  padding: 8px 10px 0 0;
  width: 120px;
  font-size: 1.1rem;
  line-height: 14px;
  text-align: center;
  margin: 0 auto 20px;
}
@media (min-width: 769px) {
  /* line 842, ../sass/screen.scss */
  .container .contact .form p {
    width: 155px;
    text-align: left;
    margin: 0;
  }
}
@media (min-width: 769px) {
  /* line 856, ../sass/screen.scss */
  .container .contact .form .capcha {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}
/* line 863, ../sass/screen.scss */
.container .contact .form .check {
  width: 70px;
  box-sizing: border-box;
}
/* line 867, ../sass/screen.scss */
.container .contact .form .btn-send {
  grid-column: 4;
  padding: 12px;
  text-align: center;
  font-size: 28px;
}
/* line 874, ../sass/screen.scss */
.container .contact .posts {
  margin-bottom: 153px;
}
@media (min-width: 426px) {
  /* line 874, ../sass/screen.scss */
  .container .contact .posts {
    margin-bottom: 13px;
  }
}
/* line 879, ../sass/screen.scss */
.container .contact .posts .post {
  position: relative;
  margin-bottom: 13px;
  width: 400px;
  height: 140px;
  box-sizing: border-box;
  padding: 18px;
  margin: 0 auto 15px;
  border-radius: 5px;
  background-image: repeating-linear-gradient(-140deg, #fcfcfc, #fcfcfc 1px, #ecebe5 1px, #ecebe5 1.1px);
  border-bottom: 1px solid #5d8b90;
}
@media (min-width: 850px) {
  /* line 879, ../sass/screen.scss */
  .container .contact .posts .post {
    width: 250px;
    height: 233px;
  }
}
@media (min-width: 1130px) {
  /* line 879, ../sass/screen.scss */
  .container .contact .posts .post {
    width: 400px;
    height: 140px;
  }
}
/* line 901, ../sass/screen.scss */
.container .contact .posts .post-header {
  display: grid;
  grid-template-columns: 70% 30%;
  padding-bottom: 10px;
}
/* line 906, ../sass/screen.scss */
.container .contact .posts h4 {
  text-align: left;
  color: #5a9692;
  font-size: 2.4rem;
}
/* line 911, ../sass/screen.scss */
.container .contact .posts h5 {
  align-self: end;
  justify-self: end;
}
/* line 915, ../sass/screen.scss */
.container .contact .posts p {
  line-height: 18px;
  text-align: left;
}
/* line 919, ../sass/screen.scss */
.container .contact .posts h5, .container .contact .posts p {
  font-size: 1.2rem;
  color: #7e7e7e;
}
/* line 923, ../sass/screen.scss */
.container .contact .posts .posts-group {
  display: none;
}
/* line 926, ../sass/screen.scss */
.container .contact .posts .posts-group.active {
  display: inline-block;
}
/* line 927, ../sass/screen.scss */
.container .contact .posts .pagination {
  width: 400px;
  margin: auto;
  text-align: right;
}
@media (min-width: 850px) {
  /* line 927, ../sass/screen.scss */
  .container .contact .posts .pagination {
    width: 250px;
  }
}
@media (min-width: 1130px) {
  /* line 927, ../sass/screen.scss */
  .container .contact .posts .pagination {
    width: 400px;
  }
}
/* line 938, ../sass/screen.scss */
.container .contact .posts .pagination li {
  display: inline-block;
  padding-left: .8rem;
  font-size: 1.1rem;
}
/* line 943, ../sass/screen.scss */
.container .contact .posts .pagination a {
  color: #7e7e7e;
}
/* line 944, ../sass/screen.scss */
.container .contact .posts .pagination .active a {
  color: white;
}

/*==================== footer ========================*/
/* line 951, ../sass/screen.scss */
.container .footer {
  padding: 45px 0 10px;
  position: relative;
}
@media (min-width: 769px) {
  /* line 951, ../sass/screen.scss */
  .container .footer {
    padding: 45px 0 20px;
  }
}
/* line 957, ../sass/screen.scss */
.container .footer:before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: url("../../img/bg-footer-1200x119.png") no-repeat;
  background-size: 100% 100%;
}
/* line 964, ../sass/screen.scss */
.container .footer .footer-content {
  grid-column: 2;
  display: grid;
  grid-template-columns: 100%;
}
@media (min-width: 769px) {
  /* line 964, ../sass/screen.scss */
  .container .footer .footer-content {
    grid-template-columns: 50% 50%;
  }
}
/* line 972, ../sass/screen.scss */
.container .footer .more-info {
  justify-self: center;
  align-self: end;
  grid-column: 1;
  text-align: center;
  margin: 20px 0;
  z-index: 2;
}
@media (min-width: 769px) {
  /* line 972, ../sass/screen.scss */
  .container .footer .more-info {
    justify-self: start;
    text-align: left;
    margin: 0;
  }
}
/* line 985, ../sass/screen.scss */
.container .footer h4 {
  font-family: "funny-font";
  padding-bottom: 5px;
  font-size: 1.4rem;
  color: #5a9692;
  letter-spacing: .4px;
  text-transform: initial;
}
/* line 994, ../sass/screen.scss */
.container .footer .footer-navigation .navbar-collapse.collapse {
  display: inline;
}
/* line 997, ../sass/screen.scss */
.container .footer .footer-navigation .navbar-nav {
  flex-direction: row;
}
/* line 998, ../sass/screen.scss */
.container .footer .footer-navigation .navbar {
  padding: 0;
}
/* line 999, ../sass/screen.scss */
.container .footer .footer-navigation .nav-item {
  padding: 0 4px;
  position: relative;
  font-size: 1.1rem;
  font-weight: bold;
}
/* line 1004, ../sass/screen.scss */
.container .footer .footer-navigation .nav-item:not(:last-child):after {
  content: "";
  position: absolute;
  width: 2px;
  height: 10px;
  top: 0;
  right: -4px;
  background-color: #5a9692;
}
/* line 1014, ../sass/screen.scss */
.container .footer .footer-navigation .nav-item:first-child {
  padding: 0 7px 0 0;
}
/* line 1015, ../sass/screen.scss */
.container .footer .footer-navigation .nav-link {
  color: #5a9692;
}
/* line 1016, ../sass/screen.scss */
.container .footer .footer-navigation .nav-item:first-child .nav-link {
  padding-left: 0;
}
/* line 1018, ../sass/screen.scss */
.container .footer .social-media {
  justify-self: center;
  text-align: left;
  z-index: 1;
}
@media (min-width: 769px) {
  /* line 1018, ../sass/screen.scss */
  .container .footer .social-media {
    justify-self: end;
    align-self: end;
  }
}
/* line 1026, ../sass/screen.scss */
.container .footer .social-media .mediabtn {
  display: inline-block;
  position: relative;
  bottom: -9px;
  margin-left: 7px;
  min-width: 30px;
  height: 20px;
  padding: 0 5px;
  font-size: 1.1rem;
  font-weight: bold;
  color: #8d8d8d;
  border: 1px solid rgba(126, 126, 126, 0.5);
  background-color: white;
  border-radius: 2px;
}
/* line 1041, ../sass/screen.scss */
.container .footer .social-media .likes {
  position: relative;
  bottom: -13px;
  border: none;
  display: inline-block;
  width: 29px;
  height: 20px;
}
/* line 1049, ../sass/screen.scss */
.container .footer .social-media .likes--google {
  background: url("../../img/4K.svg") no-repeat;
}
/* line 1052, ../sass/screen.scss */
.container .footer .social-media .likes--tw {
  background: url("../../img/likes_18.svg") no-repeat;
  width: 52px;
}
/* line 1056, ../sass/screen.scss */
.container .footer .social-media .likes--fb {
  background: url("../../img/4K_two.svg") no-repeat;
}
/* line 1059, ../sass/screen.scss */
.container .footer .social-media .google-plus {
  margin: 0;
  padding: 0;
  position: relative;
  bottom: -11px;
}
/* line 1064, ../sass/screen.scss */
.container .footer .social-media .tweet {
  color: black;
  background: linear-gradient(to bottom, white, #cccccc);
  font-weight: bold;
}
/* line 1069, ../sass/screen.scss */
.container .footer .social-media .facebook {
  color: #3b5998;
  background-color: #eceef5;
}
/* line 1073, ../sass/screen.scss */
.container .footer .social-media .gplus-icon {
  background: url("../../img/google-plus-29x18.png") no-repeat;
  width: 29px;
  height: 18px;
  display: inline-block;
}
/* line 1078, ../sass/screen.scss */
.container .footer .social-media .tw-icon {
  background: url("../../img/tw-icon-14x11.png") no-repeat;
  width: 14px;
  height: 11px;
  display: inline-block;
  margin: 3px 3px 0 0;
}
/* line 1084, ../sass/screen.scss */
.container .footer .social-media .fb-icon {
  background: url("../../img/fb-icon-12x12.png") no-repeat;
  width: 12px;
  height: 12px;
  display: inline-block;
  margin: 3px 3px 0 0;
}
